<!DOCTYPE html>
<html lang="en">
<head>
    <title>Liviu's movie list</title>
</head>
<style>
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
</style>
<body>

    <h1>Movie list</h1>
    <ul id="file_data">
    {% for item in file_data %}
        <li>
            <a href="{{ item['url'] }}">{{ item["title"] }}</a>
            <br>
            <img src="{{ url_for('static', filename=item['images']) }}" alt="{{ item['title'] }}">


        </li>
        <hr>
    {% endfor %}
    </ul>


</body>
</html>